.companies-container {
  height: 70vh;
  width: 80vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;

  border: 0.2rem;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgray;
}

.company-card {
  border-left: 0.5rem;
  border-style: solid;
  border-left-color: var(--primary);
  width: 78vw;
  padding: 0;
  transition: filter 0.2s ease;
}
.company-card:hover {
  filter: brightness(0.9);
  cursor: pointer;
}

.company-card-row {
  width: 80vw;
}
