.passwordToggleButton {
  border-left: none;
  border-color: #dee2e6;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  margin-left: 1px;
  transition: color 200ms;
}

.passwordToggleButton:hover {
  border-left: none;
  border-color: #dee2e6;
  background-color: unset;
  color: #000000;
}

.passwordToggleButton:active {
  border-left: none;
  border-color: #dee2e6 !important;
  color: #000000 !important;
  background-color: unset !important;
}

.passwordToggleButton:disabled {
  border-left: none;
  border-color: #cad2d8;
  background-color: #e1e4e7;
  margin-left: 0px !important;
}
