.passwordToggleButton {
  color: #6c757d;
  transition: color 200ms;
  border-left: none;
}

.passwordToggleButton:hover,
.passwordToggleButton:active,
.passwordToggleButton:focus,
.passwordToggleButton:disabled {
  background-color: transparent !important;
  color: #000000 !important;
  box-shadow: none !important;
}
