// Override Bootstrap variables BEFORE importing Bootstrap
$primary: #163c5b;
$secondary: #3490c7;
$success: #76b854;
$danger: #c84c37;
$warning: #c8ad37;

$link-color: $secondary;
$link-hover-color: $primary;
$link-decoration: $secondary;
$link-hover-decoration: $primary;

// Import Bootstrap
@import 'bootstrap/scss/bootstrap';
