// Bootstrap variables
$primary: #163c5b;
$primary-hover: #21679b;
$secondary: #3490c7;
$success: #76b854;
$danger: #c84c37;
$warning: #c8ad37;

$link-color: $secondary;
$link-hover-color: $primary;

// Import Bootstrap
@import "bootstrap/scss/bootstrap";

// Button overrides
.btn-primary {
  --bs-btn-color: #ffffff;
  --bs-btn-hover-color: #fff;
}
.btn-primary:hover,
.btn-primary:focus {
  background-color: $primary-hover;
  border-color: $primary-hover;
}
