.test {
  border-left: none;
  border-color: #dee2e6;
}

.test:hover {
  border-left: none;
  border-color: #dee2e6;
  background-color: unset;
  color: #000000;
}

test:active {
  border-left: none;
  border-color: #dee2e6;
  color: #000000;
}

/* TODO: Add glow on hover */
