.applications-wrapper {
  width: 80vw;
}

.application-card {
  border-left: 0.5rem;
  border-style: solid;
  padding: 0;
  transition: filter 0.2s ease;
}

.dropdown-container {
  max-height: 10vh;
  overflow-y: scroll;
}

.dropdown {
  border: 1px solid grey;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dropdown-item {
  border-color: grey;
  border-width: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-field {
  overflow-y: auto;
  resize: vertical;
}

.black-text {
  color: black !important;
}
