.applications-container {
  height: 70vh;
  width: 80vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0.5rem;
  margin-top: 1rem;
  text-align: center;

  border: 0.2rem;
  border-style: solid;
  border-radius: 5px;
  border-color: lightgray;
}

.applications-wrapper {
  width: 80vw;
}

.top-right-button {
  display: flex;
  justify-content: flex-end;
}

.application-card {
  border-left: 0.5rem;
  border-style: solid;
  width: 78vw;
  padding: 0;
  transition: filter 0.2s ease;
}

.dropdown-container {
  max-height: 10vh;
  overflow-y: scroll;
}

.dropdown {
  border: 1px solid grey;
  overflow: hidden;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.dropdown-item {
  border-color: grey;
  border-width: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.text-field {
  overflow-y: auto;
  resize: vertical;
}

.black-text {
  color: black !important;
}

.no-caret::after {
  display: none;
}
