name: Block PRs to main from non develop branches

on:
  pull_request:
    types: [opened, synchronize, reopened, edited]
    branches:
      - main

jobs:
  check-branch:
    runs-on: ubuntu-latest
    steps:
      - name: Check the source branch name
        run: |
          if [ "${{ github.head_ref }}" != "develop" ]; then
            echo "Error: Pull requests to 'main' must originate from the 'develop' branch."
            exit 1
          fi